<div class="w-50 mx-auto py-5">
    <h2 class="my-4 text-center">Register Now</h2>

    <form [formGroup]='registerForm' (ngSubmit)='submitRegisterForm(registerForm)'>
        <div class="my-3">
            <label for="FirstName" class="h5"> First Name:</label>
            <input formControlName='FirstName' type="text" class="form-control">
            <div *ngIf="registerForm.get('FirstName')?.errors !=null 
             && registerForm.get('FirstName')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('FirstName')?.errors?.required">first name is required </p>
                <p *ngIf="registerForm.get('FirstName')?.errors?.minlength">first name minlegnth is 3 </p>
                <p *ngIf="registerForm.get('FirstName')?.errors?.maxlength">first name maxlength is 8 </p>

            </div>
        </div>


        <div class="my-3">
            <label for="LastName" class="h5"> Last Name:</label>
            <input formControlName='LastName' type="text" class="form-control">

            <div *ngIf="registerForm.get('LastName')?.errors !=null 
            && registerForm.get('LastName')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('LastName')?.errors?.required">last name is required </p>
                <p *ngIf="registerForm.get('LastName')?.errors?.minlength">last name minlegnth is 3 </p>
                <p *ngIf="registerForm.get('LastName')?.errors?.maxlength">last name maxlegnth is 8 </p>
            </div>
        </div>



        <div class="my-3">
            <label for="username" class="h5"> UserName:</label>
            <input formControlName='username' type="text" class="form-control">
            <div *ngIf="registerForm.get('username')?.errors !=null 
            && registerForm.get('username')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('username')?.errors?.required">username is required </p>
                <p *ngIf="registerForm.get('username')?.errors?.minlength">min username is 3 </p>
                <p *ngIf="registerForm.get('username')?.errors?.maxlength">username max 10 </p>

            </div>
        </div>



        <div class="my-3">
            <label for="Email" class="h5"> Email:</label>
            <input formControlName='Email' type="text" class="form-control">
            <div *ngIf="registerForm.get('Email')?.errors !=null 
            && registerForm.get('Email')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('Email')?.errors?.required">Email is required </p>
                <p *ngIf="registerForm.get('Email')?.errors?.email">Email is not valid </p>
            </div>
        </div>

        <div class="my-3">
            <label for="password" class="h5"> password:</label>
            <input formControlName='password' type="password" class="form-control">
            <div *ngIf="registerForm.get('password')?.errors !=null 
            && registerForm.get('password')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('password')?.errors?.required">password is required </p>
                <p *ngIf="registerForm.get('password')?.errors?.pattern">Min 1 uppercase letter,Min 1 lowercase
                    letter,Min 1 special character,Min 1 number,Min 8 characters </p>
            </div>
        </div>
        <button [disabled]='registerForm.invalid' class="btn btn-primary mt-2 p-3">register</button>
    </form>

</div>