<nav class="d-flex justify-content-between bg p-3 fixed-top w-100">
    <div class="d-flex w-25 mx-3">
        <h3><i class="fas fa-bold "></i></h3>
        <h2 class=" text-info">Blogy</h2>
    </div>
    <ul class="list-unstyled d-flex w-25">
        <li *ngIf="isLogin" class="px-1 h5"><a routerLink='home'>Home </a></li>
        <li *ngIf="isLogin" class="px-1 h5"><a routerLink='creatBlog'>Add Article </a></li>
        <li *ngIf="isLogin" class="px-1 h5"><a routerLink='contact'>Contact US</a></li>
    </ul>
    <ul class="list-unstyled d-flex w-25">
        <li class="px-2 h5"><i class="fab fa-facebook-f"></i></li>
        <li class="px-2 h5"><i class="fab fa-twitter"></i></li>
        <li *ngIf="!isLogin" class="px-2 h5"><a routerLink='login'>Login </a></li>
        <li *ngIf="!isLogin" class="px-2 h5"><a routerLink='register'>logup</a></li>
        <li (click)="logOut()" *ngIf="isLogin" class="h5"><a href="#">logout</a></li>
    </ul>
    <div class="d-flex w-25">
        <h5 *ngIf="isLogin" class="text-primary activename mx-2">{{userData.username}}</h5>
        <div *ngIf="isLogin" class="profile">
            <img src="../../assets/images/profile-no-img.png" class="w-75 rounded-circle" alt="">
        </div>
    </div>

</nav>