<div class="w-50 mx-auto py-5">
    <h2 class="my-5">login</h2>
    <form [formGroup]='loginForm' (ngSubmit)='submitloginForm(loginForm)'>
        <div class="my-3 mt-3">
            <label for="username" class="h5"> UserName:</label>
            <input formControlName='username' type="text" class="form-control w-75">
            <div *ngIf="loginForm.get('username')?.errors !=null 
            && loginForm.get('username')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="loginForm.get('username')?.errors?.required">username is required </p>
                <p *ngIf="loginForm.get('username')?.errors?.minlength">min username is 3 </p>
                <p *ngIf="loginForm.get('username')?.errors?.maxlength">username max 10 </p>

            </div>
        </div>

        <div class="my-3">
            <label for="password" class="h5"> password:</label>
            <div class="d-flex">
                <input formControlName='password' [type]="fieldTextType?'text':'password'" class="pass position-relative form-control w-75">
                <div class="input-group-append w-25  position-relative">
                    <span class="input-group-text w-25">
                        <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}" (click)="toggleFieldTextType()"></i>
                    </span>
                </div>
            </div>
            <div *ngIf="loginForm.get('password')?.errors !=null 
            && loginForm.get('password')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="loginForm.get('password')?.errors?.required">password is required </p>
            </div>
        </div>
        <button [disabled]='loginForm.invalid' class="btn btn-primary mt-2 p-3">login</button>
    </form>
</div>